<app-header />

<div class="container">
  <div class="profile">
    <div class="profile__left"></div>
    <div class="profile__right">
      <div class="profile__right-head">
        <img [src]="user?.avatar" alt="avatar">
        <p>{{user?.name}}</p>
      </div>

      <div class="profile__right-main">
        <ul>
          <li>
            0
            <span>Подписчиков</span>
          </li>
          <li>
            0
            <span>Подписок</span>
          </li>
          <li>
            1
            <span>Запись</span>
          </li>
        </ul>

        <a routerLink="/">Редактировать профиль</a>
      </div>
    </div>
  </div>
</div>