.addcars {
  display: flex;
  flex-direction: column;
  padding: 0 55px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;

    a {
      color: red;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__main {
    padding: 24px 36px 36px;
    width: 584px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-head {
      h2 {
        font-weight: 700;
        font-size: 34px;
        line-height: 36px;
      }

      p {
        margin: 8px 0;
        font-size: 15px;
        line-height: 20px;
      }
    }
    .main_margins {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        height: 58px;
        position: relative;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        padding: 0 12px;
        border: 1px solid #0000001f;
        border-radius: 8px;
        font-size: 15px;
        color: #000000de;

        &:focus {
          outline: none;
          border: 1px solid #2882db;
        }

        &:hover {
          border: 1px solid #2882db;
        }
      }

      .brands {
        display: grid;
        list-style: none;
        gap: 8px;
        grid-template-columns: repeat(4, 1fr);

        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #4954681a;
          padding: 8px 4px;
          border-radius: 8px;
          color: #1c212899;
          font-size: 13px;
          line-height: 16px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: pointer;

          img {
            width: 48px;
            height: 48px;
          }

          &:hover {
            background: #0c78ed;
            color: #fff;
          }
        }

        .allbrands {
          background: transparent;

          &:hover {
            background: none;

            p {
              color: red;
            }
          }

          p {
            color: #0c78ed;
            font-size: 15px;
          }
        }
      }
    }
  }

  .selectedBrand {
    display: flex;
    gap: 60px;
    margin-top: 60px;

    &__left {
      display: flex;
      width: 204px;
      flex-direction: column;
      gap: 20px;

      img {
        width: 72px;
      }

      p {
        font-size: 15px;
        line-height: 20px;

        span {
          color: #0c78ed;
          cursor: pointer;
        }

        &:last-child {
          cursor: pointer;
          color: #0c78ed;
        }
      }

      input {
        height: 42px;
        border-radius: 8px;
        padding: 0 12px;
        font-size: 15px;
        color: #000000de;
        background: #f3f4f6;
        border: 1px solid transparent;

        &:focus {
          outline: none;
          border: 1px solid #2882db;
        }

        &:hover {
          border: 1px solid #2882db;
        }
      }

      hr {
        border: 0;
        height: 1px;
        background-color: #4954681a;
      }
    }

    &__right {
      display: flex;
      position: relative;
      padding: 24px;
      border: 1px solid #0000000f;
      border-radius: 16px;
      box-shadow: 0 4px 24px #0000000a;
      flex-direction: column;
      gap: 15px;
      width: 584px;

      &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
        }

        img {
          width: 52px;
        }
      }

      input {
        height: 60px;
        border: 1px solid #0000001f;
        border-radius: 8px;
        padding: 0 12px;
        font-size: 15px;
        color: #000000de;
        position: relative;

        &:hover {
          border-color: #157ee180;
        }

        &:focus {
          outline: none;
          border: 1px solid #2882db;
        }
      }

      .brands {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        cursor: pointer;
        gap: 20px;

        p {
          font-size: 15px;
          &:hover {
            color: #e81111;
          }
        }

        .allbrands {
          color: #0c78ed;
        }
      }

      .step3 {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 30px;

        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
        }

        hr {
          border: 0;
          height: 1px;
          background: #f3f4f6;
        }

        p {
          color: #1c212899;
          font-size: 15px;
          line-height: 20px;
        }

        .step3-option {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          span {
            display: flex;
            align-items: center;
            gap: 5px;

            svg {
              color: #0000001a;
            }
          }
        }

        .yearcars {
          margin-top: 10px;
          list-style: none;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 20px;

          li {
            padding: 8px 25px;
            border: 1px solid #0000001f;
            border-radius: 50px;
            width: max-content;
            cursor: pointer;
            &:hover {
              background: #e1eefc;
            }
          }

          .yearall {
            color: #0c78ed;
          }
        }

        .colors {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          li {
            cursor: pointer;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}
