<div class="favorite">
    <div class="favorite__header">
        <h2>Избранное</h2>

        <div class="close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" d="m20.707 4.707-1.414-1.414L12 10.586 4.707 3.293 3.293 4.707 10.586 12l-7.293 7.293 1.414 1.414L12 13.414l7.293 7.293 1.414-1.414L13.414 12z"></path></svg>
        </div>
    </div>

    <div class="favorite__main">
        <div class="favorite__main-one">
            <div class="favorite__main-one-head">
                <h3>Mercedes CLS</h3>
                <p>3 000 000 p</p>
            </div>

            <div class="favorite__main-one-main">
                <img src="https://avatars.mds.yandex.net/get-autoru-vos/4338488/385816f31face02d7b359d2e887a0f34/320x240" alt="">

                <div class="favorite__main-one-main-flex">
                    <div class="favorite__bottom">
                        <div class="favorite__bottom-p">
                            <p>4.4 л / 625 л.с.</p>
                            <p>2021</p>
                        </div>
                        <div class="favorite__bottom-p">
                            <p>4.4 л / 625 л.с.</p>
                            <p>20 278 км</p>
                        </div>
                        <div class="favorite__bottom-p">
                            <p>4.4 л / 625 л.с.</p>
                            <p>2021</p>
                        </div>
                    </div>

                    <div class="favorite__top">
                        <button>Показать телефон</button>
                        <button class="favorite__top-2">Написать в чат</button>
                        <button>Купить в кредит</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>